In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.

"""
A database is a structured collection of data organized and stored for easy access, management, and retrieval.
SQL databases use SQL (Structured Query Language) for querying and managing data,
while NoSQL databases use various query languages or APIs, 
often based on key-value, document, columnar, or graph data models. """

In [ ]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
"""
DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that deals with defining and managing the structure of a database.

CREATE: The CREATE statement is used to create new database objects such as tables, views, indexes, or constraints. For example, "CREATE TABLE" is used to create a new table in a database.
DROP: The DROP statement is used to remove existing database objects such as tables, views, or indexes. It permanently deletes the object and its associated data from the database. For example, "DROP TABLE" is used to delete a table from a database.
ALTER: The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or drop columns, constraints, or indexes in a table. For example, "ALTER TABLE" is used to add a new column to an existing table.
TRUNCATE: The TRUNCATE statement is used to remove all the data from a table while keeping its structure intact. It is faster than the DELETE statement as it removes the data directly without logging individual deletions. For example, "TRUNCATE TABLE" is used to delete all the rows from a table."""

In [1]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
""" 
DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) 
that deals with modifying and manipulating the data within a database. 

INSERT: The INSERT statement is used to add new rows of data into a table. 
It specifies the table name and the values to be inserted into the respective columns.

#example
INSERT INTO Customers (Name, Age, Email) VALUES ('John Doe', 25, 'johndoe@example.com');

UPDATE: The UPDATE statement is used to modify existing data in a table. 
It allows you to update specific columns or rows based on specified conditions. 

#example 
UPDATE Customers SET Age = 26 WHERE Name = 'John Doe';

DELETE: The DELETE statement is used to remove rows of data from a table based on specified conditions. 
It permanently deletes the data from the table.

#example 
DELETE FROM Customers WHERE Age > 30;
"""

In [ ]:
# Q4. What is DQL? Explain SELECT with an example.
"""
DQL stands for Data Query Language. 
It is a subset of SQL (Structured Query Language) that deals with querying and retrieving data from a database.

SELECT is the primary command used in DQL to retrieve data from one or more tables in a database. 
It allows you to specify the columns you want to retrieve and 
apply various conditions and filters to narrow down the result set.

SELECT Name FROM Employees WHERE Department = 'Sales';

"""

In [ ]:
# Q5. Explain Primary Key and Foreign Key.

"""
Primary Key: A primary key is a unique identifier for a record in a database table that ensures each row has a distinct identity.
Foreign Key: A foreign key is a field in a database table that make a link to 
the primary key of another table"""

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector

# Establishing a connection to the MySQL database
connection = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Creating a cursor object
cursor = connection.cursor()

# Executing a SQL query using the execute() method
cursor.execute("SELECT * FROM your_table")

# Fetching the result of the query
result = cursor.fetchall()

# Printing the result
for row in result:
    print(row)

# Closing the cursor and the database connection
cursor.close()
connection.close()

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.

"""
The order of execution of SQL clauses in an SQL query is as follows:

FROM: Specifies the table or tables from which to retrieve data.
WHERE: Filters the rows based on specified conditions.
GROUP BY: Groups the rows based on specified columns.
HAVING: Filters the groups based on specified conditions.
SELECT: Specifies the columns to retrieve from the table.
DISTINCT: Removes duplicate rows from the result set.
ORDER BY: Sorts the result set based on specified columns.
LIMIT/OFFSET: Specifies the number of rows to retrieve and the starting position.
UNION/INTERSECT/EXCEPT: Combines multiple result sets or performs set operations.
INSERT/UPDATE/DELETE: Modifies data in the table(s).
COMMIT/ROLLBACK: Saves or discards the changes made to the data.
CREATE/ALTER/DROP: Creates, modifies, or deletes database objects (tables, views, indexes, etc.).
GRANT/REVOKE: Manages user privileges and access control. """