In [27]:
# Q1. List any five functions of the pandas library with execution.
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)


# 1st 
first = df.any()
#2nd
second = df.describe()
#3rd
third = df["calories"].sum()
#4th
fourth = df["calories"].drop
#5th
fifth = df["calories"].drop_duplicates()

print(first , "\n")
print(second , "\n")
print(third, "\n")
print(fourth, "\n")
print(fifth, "\n")

calories    True
duration    True
dtype: bool

         calories  duration
count    3.000000       3.0
mean   396.666667      45.0
std     20.816660       5.0
min    380.000000      40.0
25%    385.000000      42.5
50%    390.000000      45.0
75%    405.000000      47.5
max    420.000000      50.0

1190

<bound method Series.drop of 0    420
1    380
2    390
Name: calories, dtype: int64>

0    420
1    380
2    390
Name: calories, dtype: int64

In [29]:
# Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
# DataFrame with a new index that starts from 1 and increments by 2 for each row.

import pandas as pd

def reindex_dataframe(df):
    df = df.reset_index(drop=True)
    df.index = df.index.map(lambda x: x * 2 + 1)
    return df

data = {"A": [420, 380, 390], "B": [50, 40, 45], "C" : [50, 40, 45]}

df = pd.DataFrame(data)

df = reindex_dataframe(df)

df

     A   B   C
1  420  50  50
3  380  40  40
5  390  45  45

In [33]:
#Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
# iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
# function should print the sum to the console.

def sum_of_three(df):
    df_sum = df[0:3]["Values"].sum()
    return df_sum

In [34]:
# For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
# calculate and print the sum of the first three values, which is 60.

import pandas as pd 

data = {
  "Values": [10, 20, 30, 40, 50],
  "duration": [10, 20, 30, 40, 50]
}

def sum_of_three(df):
    df_sum = df[0:3]["Values"].sum()
    return df_sum

df = pd.DataFrame(data)

print(sum_of_three(df))

60

In [16]:
# Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
# 'Word_Count' that contains the number of words in each row of the 'Text' column.

def new_col(df):
    lt = list(df["Text"])
    lt_word = list(map(lambda x : len(x.split()) , lt))
    df["Word_Count"] = lt_word
    return df


# example
import pandas as pd 
df = pd.DataFrame({'Text': ['Hello world', 'This is a sentence', 'Python programming is fun']})
df = new_col(df)
print(df)

                        Text  Word_Count
0                Hello world           2
1         This is a sentence           4
2  Python programming is fun           4

In [14]:
# Q5. How are DataFrame.size() and DataFrame.shape() different?

""" DataFrame.size() will return row*column where DataFrame.shape() will return row*column """

In [ ]:
# Q6. Which function of pandas do we use to read an excel file?
""" df = pd.read_excel('filename.xlsx') """

In [ ]:
# Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
# addresses in the format 'username@domain.com'. Write a Python function that creates a new column
# 'Username' in df that contains only the username part of each email address.

def unser_name(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

In [18]:
# Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
# all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
# function should return a new DataFrame that contains only the selected rows.
import pandas as pd
def filterred(df):
    new_df = df[(df["A"] > 5) & (df["B"] < 10)]
    return new_df

In [20]:
# Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
# median, and standard deviation of the values in the 'Values' column.

import pandas as pd

def calculate_stats(df):
    values = df['Values']

    mean_value = values.mean()
    median_value = values.median()
    std_value = values.std()

    return mean_value, median_value, std_value

In [23]:
# Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
# create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
# for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
# should include the current day.

import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

In [22]:
# Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
# column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
# Monday, Tuesday) corresponding to each date in the 'Date' column.

import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df

In [21]:
# Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
# function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

import pandas as pd

def select_rows_between_dates(df):
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')

    selected_rows = df[df['Date'].between(start_date, end_date)]
    return selected_rows

In [24]:
# Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
# be imported?
import pandas as pd