In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [23]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.

df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [ ]:
# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
"""
The main difference between .iloc and .loc is that .iloc uses integer-based indexing (position-based), 
while .loc uses label-based indexing. So, .iloc[1] would select the second row (assuming 0-based indexing), 
whereas .loc[1] would select the row with label 1.
"""

In [28]:
# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].

new_df = df.reindex([3,0,1,2])
print(new_df , "\n")
print(new_df.loc[2])
print(new_df.iloc[2])

""" difference in output, beacause of as loc function is based on label and iloc is based on index """

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [29]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [30]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.286050  0.719813  0.275099  0.349334  0.116415  0.609861
2  0.746982  0.888732  0.137860  0.182653  0.055220  0.505979
3  0.463386  0.466373  0.279126  0.361274  0.246002  0.730925
4  0.227090  0.121337  0.447722  0.501456  0.880715  0.141832
5  0.435106  0.103851  0.056959  0.263604  0.765331  0.523245
6  0.325767  0.131598  0.946042  0.723072  0.146150  0.997277

In [41]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’

print(df1.mean())
print(df1["column_2"].std())

column_1    0.414063
column_2    0.405284
column_3    0.357135
column_4    0.396899
column_5    0.368306
column_6    0.584853
dtype: float64
0.3414013545333645

In [ ]:
# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
# mean of column, column_2.
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

df1.loc[2,"column_2"] = str(df1.loc[2,"column_2"])

df1["column_2"].mean()

""" we are getting error as we converted type from int to str """

In [ ]:
# Q6. What do you understand about the windows function in pandas and list the types of windows functions?
""" the window functions allow you to perform calculations over a specific window or group of rows in a dataframe or series. 
These functions are helpful for analyzing and manipulating data within a moving or fixed window. 
Window functions are typically used in conjunction with the .rolling(), .expanding(), and .ewm() methods."""

In [56]:
# Q7. Write a code to print only the current month and year at the time of answering this question.

import pandas as pd

current_date = pd.to_datetime('today')
current_month = current_date.month
current_year = current_date.year

print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 6
Current Year: 2023

In [59]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.

import pandas as pd

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

time_diff = date2 - date1

days = pd.Timedelta(time_diff).days
hours = pd.Timedelta(time_diff).seconds // 3600
minutes = (pd.Timedelta(time_diff).seconds % 3600) // 60


print("Time Difference:")
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

Enter the first date (YYYY-MM-DD):  2023-05-05
Enter the second date (YYYY-MM-DD):  2023-07-05

Time Difference:
Days: 61
Hours: 0
Minutes: 0

In [ ]:
# Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
# column to a categorical data type. The program should prompt the user to enter the file path, column
# name, and category order, and then display the sorted data.
import pandas as pd

file_path = input("Enter the file path of the CSV file: ")

df = pd.read_csv(file_path)

column_name = input("Enter the name of the column to convert: ")
category_order = input("Enter the category order (comma-separated values): ").split(",")

df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

sorted_df = df.sort_values(column_name)

print("Sorted Data:")
print(sorted_df)

In [ ]:
# Q10. Write a Python program that reads a CSV file containing sales data for different products and
# visualizes the data using a stacked bar chart to show the sales of each product category over time. The
# program should prompt the user to enter the file path and display the chart.

import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# Read the CSV file
df = pd.read_csv(file_path)

# Convert the date column to datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Group the data by date and product category, and calculate the sum of sales
grouped_data = df.groupby(['Date', 'Product_Category'])['Sales'].sum().unstack()

# Plot the stacked bar chart
plt.figure(figsize=(10, 6))
grouped_data.plot(kind='bar', stacked=True)
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales of Each Product Category Over Time')
plt.legend(loc='upper left')
plt.xticks(rotation=45)
plt.tight_layout()

# Display the chart
plt.show()

In [ ]:
# Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
# a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
# displays the results in a table.

import pandas as pd

file_path = input("Enter the file path of the CSV file: ")

df = pd.read_csv(file_path)

mean = df["Test Score"].mean()
median = df["Test Score"].median()
mode = df["Test Score"].mode().values[0]

results = pd.DataFrame({'Metric': ['Mean', 'Median', 'Mode'],
                        'Score': [mean, median, mode]})


print(results)